:root {

    /* THEME COLOURS*/
    --paper-color: rgba(243, 239, 232, 1);
    --paper-transparent: rgba(243, 239, 232, 0);
    --denim-color: rgba(61, 60, 84, 1);
    --wool-color: rgba(128, 40, 20, 1);
    --sand-color: rgba(237, 219, 193, 1);
    --ink-color: rgba(37, 35, 32, 1);

    /* THEME COLOURS */
    --desktop-padding: 50px;
}