@import "init.css";

body {
  margin: 0;
  font-size: 62.5%;
  background-color: var(--paper-color);
  font-family: var(--manrope-font);
  color: var(--ink-color);
}

/* HEADER */

.header {
  position: fixed;
  display: flex;
  align-items: flex-end;
  width: 100%;
  font-size: 1.8em;
  background-color: var(--paper-color);
  padding: 0 var(--mobile-padding);
  z-index: 20;
}

.header--state-expanded {
  height: 25vh;
  margin-bottom: var(--mobile-padding);
  transition: all 0.5s ease-in-out 0.5s, height 0.5s ease-in-out 0.5s,
    border 0.5s ease-in-out;
}

/* Add space after names when expanded */
.header--state-expanded .logo-part:not(:last-child) {
  margin-right: 0.25em;
}

.header--state-collapsed {
  height: 3.5em;
  transition: all 0.5s ease-in-out, border 0.5s ease-in-out 0.5s;
  border-bottom: var(--ink-color) 2px solid;
  margin-bottom: 0;
}

.header--state-collapsed .logo-part:not(:last-child) {
  margin-right: 0;
}

#site-title {
  color: var(--ink-color);
  text-transform: lowercase;
  text-decoration: none;
}

.header__logo  {
  transition: all 0.5 ease-in-out;
}

.logo-part {
  transition: all 0.8s ease-in-out;
  margin-right: 0;
}

.header--state-expanded .first-name {
  font-weight: var(--manrope-extrabold);
}

.header--state-expanded .first-surname {
  width: 3.9em; /* TODO: Normalize */
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  font-weight: var(--manrope-extrabold);
  transition: all 0.8s ease-in-out;
}

.header--state-expanded .second-surname {
  font-weight: var(--manrope-extrabold);
}

.header--state-expanded .header__logo {
  margin-bottom: 0;
}

.header--state-collapsed .first-name {
  font-weight: var(--manrope-extrabold);
}

.header--state-collapsed .first-surname {
  width: 0.3em; /* TODO: Normalize */
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  font-weight: var(--manrope-regular);
  transition: all 0.8s ease-in-out;
}

.header--state-collapsed .second-surname {
  font-weight: var(--manrope-light);
}

.header--state-collapsed .header__logo {
  margin-block-end: 1em;
}

.header__pre-logo--exit {
  margin-left: 0;
}

.header__pre-logo--exit-active {
  margin-left: -3em;
  opacity: 0;
  transition: opacity 200ms ease-in-out, margin 500ms ease-in-out 0.5s;
}

.header__pre-logo--enter {
  margin-left: -3em;
  opacity: 0;
}

.header__pre-logo--enter-active {
  margin-left: 0;
  opacity: 1;
  transition: opacity 200ms ease-in-out, margin 500ms ease-in-out;
}

/* SECTIONS */

.section {
  padding: calc(var(--mobile-padding) / 1.5) calc(var(--mobile-padding));
}

.section__title {
  font-family: var(--bagnard-font);
  font-size: 3em;
}

.section--bordered {
  padding: calc(var(--mobile-padding) * 1) var(--mobile-padding)
    var(--mobile-padding);
  margin: calc(var(--mobile-padding) * 2) calc(var(--mobile-padding) / 2);
  border: var(--ink-color) 2px solid;
}

.section--bordered .section__title {
  margin: calc(var(--mobile-padding) * -2.1) -0.25em;
  background-color: var(--paper-color);
  padding: 0 0.25em;
  float: left;
}

/* UI ELEMENTS */
/* -- COLLAPSIBLE GROUP  --*/
.collapsible-group {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px var(--ink-color) solid;
  justify-content: flex-start;
}

.collapsible-group__item {
  display: flex;
  flex-direction: column;
  border-bottom: none;
}

.collapsible-item__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em 0.5em 2em;
  align-items: center;
  position: relative;
  flex: none;
  transition: bottom 0.09s ease-in;
}

.collapsible-group__item:not(:last-child) .collapsible-item__header {
  border-bottom: 1px var(--ink-color) solid;
}

.collapsible-group__item--expanded:last-child .collapsible-item__header {
  border-bottom: 1px var(--ink-color) solid;
}

.collapsible-group__item--collapsed:last-child .collapsible-item__header {
  border-bottom: 0px var(--ink-color) solid;
  transition: border 0s ease-in-out 0.5s;
}

.collapsible-group__item--expanded:not(:last-child) {
  border-bottom: 1px var(--ink-color) solid;
}

.collapsible-group__item--collapsed {
  border-bottom: 0px var(--ink-color) solid;
  transition: border 0s ease-in-out 0.5s;
}

.collapsible-group__item--collapsed .collapsible-item__header:before {
  content: "";
  position: absolute;
  background: var(--paper-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: 0;
  transition: bottom 0.09s ease-in;
}

.collapsible-group__item--expanded .collapsible-item__header:before {
  content: "";
  position: absolute;
  background: var(--paper-color);
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  bottom: 0%;
  transition: bottom 0.09s ease-in;
}

.collapsible-item__title {
  font-size: 1.6em;
  display: inline;
  margin: 0.5em 0;
  z-index: 1;
}

.collapsible-item__toggle {
  font-size: 2em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 1em;
  color: var(--paper-color);
  border: 1px var(--ink-color) solid;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

.collapsible-item__toggle:focus {
  outline: none;
}

.collapsible-item__toggle--expand {
  background-color: var(--denim-color);
  top: 0.5em;
}

.collapsible-item__toggle--collapse {
  background-color: var(--wool-color);
  top: 1.55em;
}

.collapsible-item__content {
  overflow: hidden;
  max-height: 0em;
  transition: max-height 500ms ease-in-out;
}

.collapsible-item__content--enter-done {
  max-height: 100em;
}

.collapsible-item__content--exit-done {
  max-height: 0em;
}

/* -- BUTTONS  --*/
.primary-button {
  -webkit-appearance: none;
  background: none;
  border: 1px var(--denim-color) solid;
  padding: 0;
  font-size: 1em;
  font-family: var(--manrope-font);
  position: relative;
  cursor: pointer;
}

.primary-button__content {
  -webkit-appearance: none;
  background-color: var(--denim-color);
  border: 1px var(--denim-color) solid;
  color: var(--paper-color);
  padding: 0.25em 1em;
  position: relative;
  left: -0.5em;
  top: -0.5em;
  transition: all 0.5s ease-in-out;
}

.primary-button__content:hover {
  left: 0;
  top: 0;
}

.secondary-button {
  -webkit-appearance: none;
  background: none;
  border: 1px var(--denim-color) solid;
  color: var(--denim-color);
  padding: 0.5em 0.75em;
  font-size: 1em;
  font-family: var(--manrope-font);
  font-weight: var(--manrope-bold);
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.09s ease-in;
}

.secondary-button:hover {
  color: var(--paper-color);
}

.secondary-button:before {
  content: "";
  position: absolute;
  background-color: var(--denim-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: 0;
  transition: bottom 0.09s ease-in;
}

.secondary-button:hover:before {
  background-color: var(--denim-color);
  z-index: -1;
  bottom: 0%;
  transition: bottom 0.09s ease-in;
}

/* -- LABELS  --*/

.label {
  background-color: var(--denim-color);
  color: var(--paper-color);
  padding: 0.25em 0.5em;
  display: inline-block;
}

.label--trans {
  background: none;
  color: var(--ink-color);
  padding: 0;
  font-weight: var(--manrope-extrabold);
  mix-blend-mode: darken;
  opacity: 0.5;
}

/* HERO */

.hero {
  height: 60vh;
  display: flex;
  align-items: center;
  padding: var(--mobile-padding);
}

.subtitle {
  font-size: 1.8em;
  font-weight: var(--manrope-regular);
}

/* PROJECTS */

.projects {
  padding-left: calc(var(--mobile-padding) / 2);
  padding-right: calc(var(--mobile-padding) / 2);
}

.projects .section__title {
  padding: 0 0.25em;
  margin-left: 0em;
  margin-right: 0em;
}

.projects__grid {
  display: grid;
  clear: both;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  grid-auto-rows: minmax(100px, auto);
}

.projects__grid-item {
  position: relative;
  margin: 1em;
  display: flex;
  color: var(--ink-color);
}

.projects__grid-card {
  position: relative;
  background-color: var(--sand-color);
  /*background-color: var(--wool-color);*/
  border: var(--ink-color) 1px solid;
  padding: 20px;
  z-index: 10;
  transition: margin 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
}

.projects__grid-card--highlighted {
  margin: -0.25em 0.25em 0.25em -0.25em;
}

.projects__grid-card-shadow {
  background-color: var(--ink-color);
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: all 0.5s ease-in-out;
}

.projects__grid-card-shadow--highlighted {
  top: 0.25em;
  left: 0.25em;
}

.project-card__summary {
  z-index: 5;
}

.project-card__thumb {
  /* position: absolute in component*/
  top: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.project-card__thumb::before {
  content: "";
  position: absolute;
  background-color: var(--sand-color);
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
}

.project-card__summary-top {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
}



.project-card__title {
  margin-top: 3em;
  font-size: 1.8em;
}

.project-card__subtitle-container {
  display: flex;
}

.project-card__presubtitle-line {
  flex-grow: 1;
  height: 0.75em;
  margin-right: 0.5em;
  border-bottom: 1px var(--ink-color) solid;
}

.project-card__subtitle {
  text-align: right;
  float: right;
  font-size: 1.2em;
  font-weight: var(--manrope-regular);
  margin: 0;
}

/* ABOUT */

.about {
  background-color: var(--sand-color);
}

.about-section {
  margin-bottom: 3em;
}

.about-section--intro {
  font-size: 1.6em;
}

.about-section__title {
  font-family: var(--bagnard-font);
  font-size: 2.4em;
}

.skill-type__block {
  padding-inline-start: 3em;
  padding-inline-end: 2em;
}

.skill-item {
  margin-top: 1em;
  list-style: none;
}

.skill-item__name {
  font-size: 1.4em;
  white-space: pre;
}

.skill-item .skill-item__name {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

.skill-item__description {
  font-size: 1.2em;
  margin-inline-start: 3em;
  margin-block-start: 0em;
}

.job__item {
  margin: 1em;
  padding: 1.5em;
  position: relative;
  border: 1px solid var(--denim-color);
}

.job__period {
  font-size: 1.6em;
  position: absolute;
  top: -0.7em;
  left: -0.7em;
}

.job__title {
  font-size: 1.6em;
  margin-block-start: 1em;
  margin-block-end: 0em;
}

.job__company {
  font-size: 1.4em;
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

.job__description {
  font-size: 1.2em;
  margin-block-end: 0;
}

.degree__item {
  margin: 1em;
  padding: 1.5em;
  position: relative;
  border: 1px solid var(--denim-color);
}

.degree__period {
  font-size: 1.6em;
  position: absolute;
  top: -0.7em;
  left: -0.7em;
}

.degree__title {
  font-size: 1.6em;
  margin-block-start: 1em;
  margin-block-end: 0em;
}

.degree__school {
  font-size: 1.4em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.degree__GPA {
  font-size: 1.4em;
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

.degree__description {
  font-size: 1.2em;
  margin-block-end: 0;
}

.languages__block {
  list-style: none;
  font-size: 1.6em;
  padding-inline-start: 1.5em;
  padding-inline-end: 2em;
}

.languages__item {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}


/* CONTACT */

.contact-paragraph {
  font-size: 1.6em;
}

.contact-email__link {
  font-size: 1.6em;
}


.contact__form {
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
}

.name-label, .email-label, .message-label {
  margin: 0.5em 0;
  display: block;
}

.name-input, .email-input, .message-input {
  font-family: var(--manrope-font);
  font-size: 1em;
  -webkit-appearance: none;
  background: none;
  border: none;
  width: 100%;
  padding: 0 0 0.25em;
  position: relative;
  box-sizing: border-box;
}

.name-input, .email-input  {
  border-bottom: 1px var(--ink-color) solid;
}

.contact-block--email {
  margin-bottom: 2em;
}

.user-greeting {
  margin-bottom: 0;
}

.message-label {
  margin-top: 0em;
}

.message-input  {
  padding: 0.5em;
  height: 7em;
  border: 1px var(--ink-color) solid;
  max-width: 100%;
  resize: none;
}

input, textarea {
  outline: none;
}

.contact__submit {
  align-self: flex-end;
  margin: 2em 0 0;
}

.contact-social, .contact-email {
  text-align: center;
}

.contact-social .contact-paragraph {
  display: flex;
  justify-content: center;
  margin-block-start: 2em;
  margin-block-end: 0;
}

.contact-social .contact-paragraph:before, 
.contact-social .contact-paragraph:after {
  content: '';
  border-bottom: 1px solid var(--ink-color);
  opacity: 0.5;
  flex-grow: 1;
  margin: 0 0.5em 0.5em;
  max-width: 10em;
}

.social-link {
  color: var(--ink-color);
  font-size: 4em;
  margin: 0.25em;
  display: inline-block;
}

/* FOOTER */

.footer__message {
  font-size: 1.2em;
  color: var(--ink-color);
  text-align: center;
}

/* LAPTOP */

@media screen and (min-width: 800px) {
  .header {
    font-size: 4em;
    padding: 0 var(--desktop-padding);
  }

  .header--state-expanded {
    height: 30vh;
    padding-bottom: 0;
    transition: height 0.5s ease-in-out 0.5s, backgroundColor 0.5s ease-in-out;
  }

  .header--state-collapsed {
    height: 15vh;
    padding-bottom: 0;
    transition: all 0.5s ease-out;
  }

  .subtitle {
    font-size: 4em;
  }

  .section__title {
    font-size: 4em;
  }

  .section--bordered {
    padding: calc(var(--desktop-padding) / 2);
    margin: calc(var(--desktop-padding) / 2);
    border: var(--ink-color) 2px solid;
  }

  .section--bordered .section__title {
    margin: calc(var(--desktop-padding) * -0.9) 0;
    padding: 0 1em;
  }

  .projects__grid-item:hover .projects__grid-card {
    margin: -1em 1em 1em -1em;
  }

  .projects__grid-item:hover .projects__grid-card-shadow {
    top: 0;
    left: 0;
  }

  .hero {
    height: 45vh;
    padding: 20vh 10vw;
  }
}
