@import "init.css";

body {
  margin: 0;
  height: 200vh;
  font-size: 62.5%;
  background-color: var(--paper-color);
  font-family: var(--manrope-font);
  color: var(--ink-color);
}

/* HEADER */

.header {
  position: fixed;
  display: flex;
  align-items: flex-end;
  width: 100%;
  font-size: 2em;
  background-color: var(--paper-color);
  padding: 0 var(--desktop-padding);
}

.header--state-expanded {
  height: 30vh;
  padding-bottom: 0;
  transition: height 0.5s ease-in-out 0.5s, backgroundColor 0.5s ease-in-out;
  background-color: var(--paper-transparent);
}

/* Add space after names when expanded */
.header--state-expanded .logo-part:not(:last-child) {
  margin-right: 0.25em;
}

.header--state-collapsed {
  height: 10vh;
  padding-bottom: 3vh;
  transition: all 0.5s ease-out;
}

.header--state-collapsed .logo-part:not(:last-child) {
  margin-right: 0;
}

#site-title {
  color: var(--ink-color);
  text-transform: lowercase;
  text-decoration: none;
}

.logo-part {
  transition: all 0.8s ease-in-out;
  margin-right: 0;
}

.header--state-expanded .first-name {
  font-weight: var(--manrope-extrabold);
}

.header--state-expanded .first-surname {
  font-weight: var(--manrope-extrabold);
}

.header--state-expanded .second-surname {
  font-weight: var(--manrope-extrabold);
}

.header--state-collapsed .first-name {
  font-weight: var(--manrope-extrabold);
}

.header--state-collapsed .first-surname {
  font-weight: var(--manrope-regular);
}

.header--state-collapsed .second-surname {
  font-weight: var(--manrope-light);
}

.header__pre-logo--exit {
  margin-left: 0;
}

.header__pre-logo--exit-active {
  margin-left: -3em;
  opacity: 0;
  transition: opacity 200ms ease-in-out, margin 500ms ease-in-out 0.5s;
}

.header__pre-logo--enter {
  margin-left: -3em;
  opacity: 0;
}

.header__pre-logo--enter-active {
  margin-left: 0;
  opacity: 1;
  transition: opacity 200ms ease-in-out, margin 500ms ease-in-out;
}

/* SECTIONS */

.section {
  padding: var(--desktop-padding);
}

.section__title {
  font-family: var(--bagnard-font);
  font-size: 3em;
}

.section--bordered {
    padding: calc(var(--desktop-padding)/4);
    margin: var(--desktop-padding) calc(var(--desktop-padding)/4);
    border: var(--ink-color) 2px solid;
}

.section--bordered .section__title {
    margin: -1em 0;
    background-color: var(--paper-color);
    padding: 0 1em;
    float: left;
}

/* HERO */

.hero {
  height: 50vh;
  display: flex;
  align-items: center;
}

.subtitle {
  font-size: 2em;
  font-weight: var(--manrope-regular);
}

/* PROJECTS */

.projects__grid {
  display: grid;
  clear: both;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.projects__grid_card {
  padding: 20px;
}
